{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    {# <link href="../assets/styles/navbar.css" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{asset('styles/navbar.css')}}" type="text/css" rel="stylesheet" /> #}
{% endblock %}

{% block title %}Customize Profile | MailApp{% endblock %}

{% block body %}
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home"><h2>MailApp</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-5 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/outbox">Outbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/message">Send Message</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                        </li>
                        {% if app.user.roles == ["ROLE_ADMIN", 0] %}
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/admin">Admin Zone</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <img id="pfp" src="{{ asset('uploads/'~app.user.pfp) }}" alt="pfp"  width="60px" height="60px" style="border-radius: 100%; margin-right: 20px;"/>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="mx-auto text-center">Customize Profile :: {{app.user.username}}</h1>
            <div class="mx-auto text-center py-3">
                <div class="img-container my-3">
                    <img class="img" src="{{ asset('uploads/'~userPfp) }}" alt="user-pfp" style="width: 300px; height: 300px; border-radius: 100%; margin: auto;" />
                </div>
        {# <form class="profile" method="POST">
            <div class="profile-content">
                <label for="custom-username">Username: </label>
                <input type="text" id="custom-username" name="custom-username" value="{{app.user.username}}" />
                <br/>
                <label for="custom-telephone">Telephone: </label>
                <input type="text" id="custom-telephone" name="custom-telephone" placeholder="Your telephone here!" value="{{app.user.telephone}}" />
                <br/>
                <label for="custom-pfp">Profile picture: </label>
                <input type="file" id="custom-pfp" name="custom-pfp" accept="image/jpeg, image/png, image/gif"/>
                <div class="buttons">
                    <button type="submit">Save</button>
                    <button type="reset">Restore</button>
                </div>
            </div>
        </form> #}
        
            {{ form_start(profileForm) }}
            {{ form_row(profileForm.username, {
                label: 'Username: '
            }) }}
            {{ form_row(profileForm.telephone, {
                label: 'Telephone: '
            }) }}
            {{ form_row(profileForm.pfp, {
                label: 'Profile Picture: '
            }) }}

            <div class="my-3">
                <button type="submit" class="btn btn-success">Save Changes</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
            {{ form_end(profileForm) }}
        </div>
    </main>
{% endblock %}
