{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    {# <link href="../assets/styles/navbar.css" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{asset('styles/navbar.css')}}" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{asset('styles/messages.css')}}" type="text/css" rel="stylesheet" /> #}
{% endblock %}

{% block title %}MailApp{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><h2>MailApp</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mx-5 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/outbox">Outbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message">Send Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    {% if app.user.roles == ["ROLE_ADMIN", 0] %}
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/admin">Admin Zone</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <img id="pfp" src="{{ asset('uploads/'~app.user.pfp) }}" alt="pfp" width="60px" height="60px" style="border-radius: 100%; margin-right: 20px;"/>
            </div>
        </div>
    </nav>
</header>

<main>
    <h1 class="mt-5 text-center">Inbox :: {{app.user.username}}</h1>
    <div class="inbox mx-auto" style="width: 800px; height: 35em; border: 1px solid #999;">
        {% for message in messages %}
            <a id="msg" class="list-group-item list-group-item-action d-flex gap-3 py-3" href="/view-message?messageID={{ message.id }}">
                <div class="message d-flex gap-2 w-100 justify-content-between">
                    {% for user in users %}
                        {% if message.senderID == user.id %}
                            <img class="pfp msg-item rounded-circle flex-shrink-0" src="{{ 'uploads/'~user.pfp }}" alt="pfp" width="60px" height="60px"/>
                        {% endif %}
                        {% if user.id == message.senderID %}
                            <div class="sender msg-item position-relative mt-3" style="width: 100px;"><b>{{ user.email }}</b></div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <div class="messageHeader msg-item mb-0 opacity-75" style="width: 100px;"><u><b>{{ message.header }}</b></u></div>
                        <div class="messageBody msg-item mb-0 opacity-50 text-truncate" style="width: 200px;"><b>{{ message.body }}</b></div>
                        <div class="timestamp msg-item opacity-50 text-nowrap" style="width: 50px;">{{ message.timestamp | date("Y-m-d H:i:s") }}</div>
                    </div>
                    {% if message.isRead == 1 %}
                        <div class="seen fas fa-check-square"></div>
                    {% endif %}
                    <br/>
                </div>
            </a>
        {% endfor %}
    </div>
</main>
{% endblock %}
