{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, {
            label: 'Name: '
        }) }}
        {{ form_row(registrationForm.surname, {
            label: 'Surname: '
        }) }}
        {{ form_row(registrationForm.username, {
            label: 'Username: '
        }) }}
        {{ form_row(registrationForm.age, {
            label: 'Age: '
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Email: '
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password: '
        }) }}
        {{ form_row(registrationForm.telephone, {
            label: 'Telephone: '
        }) }}
        {{ form_row(registrationForm.pfp, {
            label: 'Profile Picture: '
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
