{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {# <link href="../assets/styles/navbar.css" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{asset('styles/navbar.css')}}" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{asset('styles/messages.css')}}" type="text/css" rel="stylesheet" /> #}
{% endblock %}

{% block title %}MailApp | Send Message{% endblock %}

{% block body %}

     <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home"><h2>MailApp</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-5 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/outbox">Outbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/message">Send Message</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        {# {% if app.user.roles == [1] %}
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/admin">Logout</a>
                            </li>
                        {% endif %} #}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <img id="pfp" src="{{ asset('uploads/'~app.user.pfp) }}" alt="pfp"  width="60px" height="60px" style="border-radius: 100%; margin-right: 20px;"/>
                </div>
            </div>
        </nav>
    </header>

    <main class="d-flex flex-column justify-content-center align-items-center mt-2">
    <h1 class="mx-auto text-center">Send Message</h1>
        <form class="needs-validation d-flex flex-column justify-content-between align-items-center mt-2 w-100" action="" method="POST">
            <div class="form-group">
                <label for="sender">From: </label>
                <input type="text" name="sender" id="sender" value="{{app.user.email}}"/>
            </div>
            {# <br/> #}
            <div class="form-group">
                <label for="receiver">To: </label>
                <input type="text" name="receiver" id="receiver" value="{{ userEmail }}"/>
            </div>
            {# <br/> #}
            <div class="form-group">
                <label for="head">Head: </label>
                <input type="text" name="messageHead" id="head" value="{{ replyHeader }}"/>
            </div>
            {# <br/> #}
            <div class="form-group">
                <label for="body">Body: </label><br/>
                <textarea name="messageBody" id="body" rows="4" cols="50"></textarea>
            </div>
            {# <br/> #}
            <div class="form-group">
                <button type="submit" class="btn btn-success">Send Email</button>
                <button type="reset" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </main>
{% endblock %}
