{% extends 'base.html.twig' %}

{% block title %}MailApp | Send Message{% endblock %}

{% block body %}

     <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home"><h2>MailApp</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-5 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/outbox">Outbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/message">Send Message</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <img id="pfp" src="{{ asset('uploads/'~app.user.pfp) }}" alt="pfp" width="60" style="border-radius: 100%; margin-right: 20px;"/>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="view-message">
                {% for user in users %}
                    {% if message.senderID == user.id %}
                        <img src="{{ asset('uploads/'~user.pfp) }}" alt="pfp">
                        <div class="senderEmail">{{ user.email }}</div>
                    {% endif %}
                {% endfor %}
                <div class="senderID"></div>
                <div class="messageHeader msg-item">Subject: {{ message.header }}</div>
                <div class="messageBody msg-item">Content: {{ message.body }}</div>
                <div class="timestamp msg-item">Sent at: {{ message.timestamp | date("Y-m-d H:i:s") }}</div>
                <br/>
            </div>
        </div>
    </main>
{% endblock %}
